
data/sample_submission.csv
data/previous_application.csv
data/POS_CASH_balance.csv
data/installments_payments.csv
data/HomeCredit_columns_description.csv
data/credit_card_balance.csv
data/bureau_balance.csv
data/bureau.csv
data/application_train.csv
data/application_test.csv
data/application_test_split.csv
data/application_train_split.csv
.ipynb_checkpoints/start-here-a-gentle-introduction-checkpoint.ipynb
.ipynb_checkpoints/Bank-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
catboost_info/time_left.tsv
catboost_info/learn_error.tsv
catboost_info/learn/events.out.tfevents
catboost_info/catboost_training.json
.ipynb_checkpoints/Model-checkpoint.ipynb
catboost_info/tmp/cat_feature_index.6b7baf43-b2055de3-d6266dd8-8d99705c.tmp
.ipynb_checkpoints/random_forest_baseline-checkpoint.csv
data/train2.csv
submission_catboost.csv
submission_lightgbm.csv
